@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all linear .2s;
}

:root {
    --primary-white: #FFFAFA;

    --primary-gray: #E0E0E0;

    --primary-black: #242424;
    --secondary-black: #333333;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: var(--primary-black);
}

html::-webkit-scrollbar-thumb {
    background: var(--secondary-black);
    border-radius: 2px;
}


body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: #3a7a82;
}

.heading {
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 2rem;
    color: var(--primary-white);
    font-size: 4rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: var(--primary-white);
    background-color: var(--primary-black);
    border-radius: .5rem;

    cursor: pointer;
}

.btn:hover {
    background-color: #123e38;
}

main {
    height: 130vh;
    background-image: url("../img/main3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;
}

.header {
    padding: 1.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--primary-white);

    display: flex;
    align-items: center;
}

.header .logo .logo-text {
    margin-left: .5rem;
}

.header .search-form {
    background: #e0e0e06b;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    color: var(--primary-black);
    font-weight: 600;
    padding: 1rem;
}

.header .search-form label {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--secondary-black);

    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--primary-white);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: #e0e0e06b;
    color: var(--secondary-black);
    text-align: center;
    
    cursor: pointer;
}

.header .icons div:hover {
    background-color: var(--primary-gray);
}

#search-btn {
    display: none;
}

.header .navbar {
    position: absolute;
    top: 12%;
    right: 7%;
    background-color: var(--primary-white);
    border-radius: .5rem;
    width: 25rem;

    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active {
    transform: scale(1);
}

.header .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--secondary-black);
    border-radius: .5rem;
}

.header .navbar a:hover {
    background: #e0e0e04b;
}

.header .login-form {
    position: absolute;
    top: 15%;
    right: 7%;
    background-color: var(--primary-white);
    border-radius: .5rem;
    width: 35rem;
    padding: 2rem;

    transform: scale(0);
    transform-origin: top right;
}

.header .login-form.active {
    transform: scale(1);
}

.header .login-form .inputBox {
    margin-bottom: 1rem;
}

.header .login-form .inputBox span {
    font-size: 1.7rem;
    color: var(--secondary-black);
}

.header .login-form .inputBox input {
    font-size: 1.5rem;
    color: var(--primary-black);
    border-radius: .5rem;
    padding: 1rem;
    background: #e0e0e02d;
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}

.header .login-form .remember {
    display: flex;
    align-items: center;
    gap: .5rem 0;
    padding: .5rem 0;
}

.header .login-form .remember label {
    color: var(--secondary-black);
    margin-left: .5rem;
}

.header .login-form .btn {
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 15rem;
}

.home .left {
    margin-left: 12rem;
}

.home .left h1 {
    font-size: 8rem;
    line-height: 1.2;
    max-width: 60%;

    color: var(--primary-white);
}

.home .left p {
    font-size: 1.5rem;
    max-width: 40%;

    color: var(--primary-white);
}


.home .right {
    display: flex;

    height: 200px;
}

.home .right .text-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-right: 2rem;
    padding-left: 2rem;
    background: #e0e0e0b9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    color: var(--primary-black);
}

.home .right .text-right h3 {
    font-size: 2rem;
}

.home .right .text-right i {
    font-size: 2rem;
    cursor: pointer;
}

.home .right .text-right i:hover {
    color: var(--primary-black);
}

.home .right .image-right img{
    height: 100%;
}

/* Form Container  */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10rem;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    background-color: #e0e0e03d;
    border-radius: .5rem;
    padding: 2rem;

    align-items: center;
}

.form-container form .inputBox {
    flex: 1 1 23rem;
}

.form-container form .inputBox span {
    font-size: 1.7rem;
    color: var(--primary-white);
}

.form-container form .inputBox input {
    font-size: 1.5rem;
    color: var(--primary-white);
    background-color: #e0e0e03a;
    border-radius: .5rem;
    margin: .5rem 0;

    width: 100%;
    padding: 1rem;

}

.form-container form .inputBox input::placeholder {
    color: var(--primary-black);
}

.form-container .btn-form {
    margin-top: 2.7rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--primary-white);
    background-color: #0f1313;

    border-radius: .5rem;

    cursor: pointer;
}

.form-container .btn-form:hover {
    background-color: #91CB82;
    color: var(--primary-white);
}

/* Packages */
.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin: 0 2rem;
}

.packages .box-container .box {
    background: #e0e0e03a;
    border-radius: .5rem;
}

.packages .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image .packages_text {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 1.4rem;
    color: var(--primary-white);
    background: rgba(0,0,0,.5);
    border-radius: .5rem;
    
    padding: .5rem 1.5rem;  

    display: flex;
    align-items: center;
    justify-content: center;
}


.packages .box-container .box .image h3 {
    font-weight: 500;
    padding-left: .5rem;
}

.packages .box-container .box .content {
    padding: 1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content .price {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--primary-white);
}

.packages .box-container .box .content .price span{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--secondary-black);
    text-decoration: line-through;
}

/* Reasons */

.reasons {
    margin: 5rem 0;
    padding: 10rem 0;
    background-color: #4c96a2;
}

.reasons .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin: 0 2rem;
}

.reasons .box-container .box {
    background: #e0e0e03a;
    border-radius: .5rem;

    position: relative;
    padding: 2rem;
}

.reasons .box-container .box span {
    position: absolute;
    top: .5rem; 
    right: 2rem;
    color: var(--primary-black);
    font-weight: bold;
    font-size: 4rem;
}

.reasons .box-container .box i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-gray);
    background-color: #4c96a2;
    border-radius: 50%;
    margin-bottom: .5rem;
}

.reasons .box-container .box h3 {
    color: var(--primary-black);
    font-size:  2.3rem;
    padding: .7rem 0;
}

.reasons .box-container .box p {
    color: var(--primary-black);
    font-size: 1.5rem;
    line-height: 1.8;
}

/* About */
.about .text-about {
    text-align: center;
    color: var(--primary-black);
    margin: 0 15rem;
}

.about .text-about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about .text-about p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-size: 700;
}

/* Footer */
footer {
    background-color: #202b29;
}


.footer .box-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--primary-white);
    padding: 1rem 0;
}

.footer .box-container .box a,
.footer .box-container .box span {
    display: block;
    font-size: 1.5rem;
    color: var(--primary-white);

    cursor: pointer;
}

.footer .box-container .box a:hover {
    color: #80d1db;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    padding-top: .5rem;
}

/* Media Queries */
@media (min-width: 1400px) {
        main {
        height: 100vh;
    }
}


@media (max-width: 1348px){
    main {
        height: 120vh;
    }
}

@media (max-width: 1250px) {
    .home .right .text-right h3 {
        font-size: 1.5rem;
    }
} 

@media (max-width: 1150px) {
    .home .left h1 {
        font-size: 6rem;
    }

    .home .right .text-right h3 {
        font-size: 1rem;
    }

    .form-container form {
        margin: 0 3rem;
    }
} 

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .home .left h1 {
        font-size: 5rem;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .about .text-about {
        margin: 0 10rem;
    }
}

@media (max-width: 768px) {

    .home .left h1 {
        font-size: 4rem;
    }



    .header .navbar {
        right: 2rem;
    }

    .header .login-form {
        right: 2rem;
    }

    .home .right {
        margin-top: 2rem;
        height: 200px;

        justify-content: center;
    }

    #search-btn {
        display: inline-block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .search-form {
        position: absolute;
        top: 10%;
        right: 2rem;
        width: 90%;

        right: 2rem;

        transform: scale(0);
        transform-origin: top right;
    }

    .header .search-form.active {
        transform: scale(1);
    }

}

@media (max-width: 650px) {
    .home {
        flex-direction: column;
    }

    .home .left {
        margin-left: 0;
    }

    .home .left p {
        text-align: center;
    }

    .home .left h1,
    .home .left p {
        max-width: 100%;
    }

    .home .right .image-right img{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    
    .about .text-about {
        margin: 0 5rem;
    }

    .footer .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        margin: auto 2rem;
        gap: 2rem;
    }


}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .left h1 {
        text-align: center;
    }
}

@media (max-width: 501px){
    main {
        height: 145vh;
    }
}

@media (max-width: 320px) {
    main {
       background-image: 130%;
       overflow-x: hidden;
    }
}

@media (max-width: 220px){
    main {
        height: 155vh;
    }
}